body {
    color: #201b2d;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 900;
}

.container {
    width: 100%;
    max-width: 1238px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: rgba(77, 189, 254, 1);
    background: -moz-linear-gradient(left, rgba(77, 189, 254, 1) 0%, rgba(61, 155, 227, 1) 44%, rgba(58, 148, 221, 1) 83%, rgba(55, 144, 217, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(77, 189, 254, 1) 0%, rgba(61, 155, 227, 1) 44%, rgba(58, 148, 221, 1) 83%, rgba(55, 144, 217, 1) 100%);
    background: -o-linear-gradient(left, rgba(77, 189, 254, 1) 0%, rgba(61, 155, 227, 1) 44%, rgba(58, 148, 221, 1) 83%, rgba(55, 144, 217, 1) 100%);
    background: -ms-linear-gradient(left, rgba(77, 189, 254, 1) 0%, rgba(61, 155, 227, 1) 44%, rgba(58, 148, 221, 1) 83%, rgba(55, 144, 217, 1) 100%);
    background: linear-gradient(to right, rgba(77, 189, 254, 1) 0%, rgba(61, 155, 227, 1) 44%, rgba(58, 148, 221, 1) 83%, rgba(55, 144, 217, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dbdfe', endColorstr='#3790d9', GradientType=1);
    padding-top: 62px;
    color: #fff;
    padding-bottom: 143px;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer {
    width: 580px;
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-size: 37px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 49px;
}

.text-big {
    font-size: 59px;
    line-height: 73px;
}
.intro {
    margin: 25px 0 44px;
    width: 422px;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.4px;

}

.btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    background: #ffd429;
    color: black;
    display: inline-block;
    padding: 18px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border: none;
    cursor: pointer;

}

.btn:hover {
    background: orange;
    color: black;
}


.desktop {
    text-align: center;
    width: 500px;
}

.learn {
    padding-top: 109px;
    padding-bottom: 120px;
}

.section-title {
    text-align: center;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
    text-align: center;
}

.skill {
    width: 300px;
    background-image: url('../img/icon1.jpg');
    padding-top: 70px;
    text-align: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

.skill-title {
    font-size: 19px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    padding-top: 33px;

}

.skill-text {
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;

}

.skill-free {
    background-image: url('../img/icon2.jpg') ;
}

.skill-change {
    background-image: url(../img/icon3.jpg) ;
}

.mail {
    padding-top: 105px;
    padding-bottom: 103px;
    background: #ecf3f8;
    justify-content: space-between;
}

.mail .container {
    max-width: 343px;
}

.mail .btn {
    width: 100%;
    margin-top: 15px;
}
.section-title-two {
    font-size: 30px;
    text-align: center;
    padding-bottom: 57px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;


}

.input {
    width: 100%;
    border: 1px solid #bbbbbb;
    font-size: 15px;
    padding-left: 27px;
    font-family: "Ubuntu", sans-serif;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.input:focus {
    outline: none;
    border-color:#868686;
}


.footer {
    padding: 63px;
    background: #164d7a;
}

.credits {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    font-family: "Open Sans",sans-serif;
    text-align: center;
}

@media screen and (max-width: 1200px) {
  .container {
      width: 960px;
  }
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .wrapper {
        flex-direction: column;
    }
    .offer {
        width: 100%;
    }
    .intro {
        width: 100%;
    }
    .desktop {
        display: none;
    }
    .header {
        padding-bottom: 30px;
    }
    .learn {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .mail {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .skills {
        flex-direction: column;
    }
    .skill {
        width: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
    .desktop {
        width:100%;
    }

}


@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}