body {
    color: #201b2d;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 900;
}

.container {
    width: 1238px;
    margin: 0 auto;
}

.header {
    background: rgba(77, 189, 254, 1);
    background: -moz-linear-gradient(left, rgba(77, 189, 254, 1) 0%, rgba(61, 155, 227, 1) 44%, rgba(58, 148, 221, 1) 83%, rgba(55, 144, 217, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(77, 189, 254, 1) 0%, rgba(61, 155, 227, 1) 44%, rgba(58, 148, 221, 1) 83%, rgba(55, 144, 217, 1) 100%);
    background: -o-linear-gradient(left, rgba(77, 189, 254, 1) 0%, rgba(61, 155, 227, 1) 44%, rgba(58, 148, 221, 1) 83%, rgba(55, 144, 217, 1) 100%);
    background: -ms-linear-gradient(left, rgba(77, 189, 254, 1) 0%, rgba(61, 155, 227, 1) 44%, rgba(58, 148, 221, 1) 83%, rgba(55, 144, 217, 1) 100%);
    background: linear-gradient(to right, rgba(77, 189, 254, 1) 0%, rgba(61, 155, 227, 1) 44%, rgba(58, 148, 221, 1) 83%, rgba(55, 144, 217, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dbdfe', endColorstr='#3790d9', GradientType=1);
    padding-top: 62px;
    color: #fff;
    padding-bottom: 143px;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer {
    width: 560px;
}

.title {
    font-family: "ubuntu", Bold, sans-serif;
    font-size: 37px;

}

.intro {
    margin-bottom: 44px;
    width: 370px;
    font-size: 15px;

}

.btn {
    font-family: "Montserrat", sans-serif;
    background: #ffd429;
    color: black;
    display: inline-block;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", black, sans-serif;

}

.btn:hover {
    background: orange;
    color: black;
}

.desktop {
    text-align: center;
}

.learn {
    padding-top: 69px;
    padding-bottom: 120px;
}

.section-title {
    text-align: center;
    font-size: 30px;
    font-family: "ubuntu", Bold, sans-serif;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
    text-align: center;
}

.skill {
    width: 300px;
    background-image: url('../img/icon1.jpg');
    padding-top: 70px;
    text-align: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

.skill-title {
    font-size: 15px;
    font-family: "Ubuntu", Bold, sans-serif;

}

.skill-text {
    margin-top: 7px;
    font-family: "Myriad Pro",regular,sans-serif;
    font-size: 15px;
}

.skill-free {
    background-image: url('../img/icon2.jpg') ;
}

.skill-change {
    background-image: url(../img/icon3.jpg) ;
}

.mail {
    padding-top: 104px;
    padding-bottom: 102px;
    background: #ecf3f8;
    justify-content: space-between;
}

.mail .container {
    max-width: 343px;
}

.mail .btn {
    width: 100%;
    margin-top: 15px;
}
.section-title-two {
    font-size: 30px;
    text-align: center;
    padding-bottom: 57px;
    font-family: "Ubuntu", Bold, sans-serif;


}

.input {
    width: 100%;
    border: 1px solid #bbbbbb;
    font-size: 15px;
    padding-left: 27px;
    font-family: "Open Sans", sans-serif;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.input:focus {
    outline: none;
    border-color:#868686;
}


.footer {
    padding: 63px;
    background: #164d7a;
}

.credits {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    font-family: "Open Sans",regular,sans-serif;
    text-align: center;
}
